/* ======================== */
/* ABOUT ME SECTION */
/* ======================== */

#about {
  min-height: 100vh;
  align-items: center;
  display: flex;
}

.about-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-caption {
  font-size: 0.75rem;       
  color: #aaa;              
  text-align: right;      
  margin-bottom: 13px;       
  font-style: italic;       
}

.about-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  max-width: 500px;
}

.about-images img {
  width: 100%;
  height: 150px;   
  object-fit: cover;   
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.about-images img:hover {
  transform: scale(1.07);
  box-shadow: 0 0 15px 5px rgba(124, 58, 237, 0.6);
}

.about-text {
  max-width: 550px;
}

.about-text h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-text span {
  background: linear-gradient(
  90deg,
  #5c04a0 0%,
  #552384 30%,
  #6E51A5 70%,
  #a86ac3 96%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}