/* ======================== */
/* CONTACT SECTION */
/* ======================== */

#contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#contact h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 30px;
}

#contact h1 span {
  background: linear-gradient(
  90deg,
  #5c04a0 0%,
  #552384 30%,
  #6E51A5 70%,
  #a86ac3 96%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact input, #contact textarea {
  padding: 14px;

  background: transparent;
  border: 1px solid rgba(168, 106, 195, 0.3);
  border-radius: 8px;

  color: white;
  font-size: 15px;
  box-shadow: 0 4px 10px rgba(168,106,195,0.15);
  transition: transform 0.25s ease;
}

#contact input:hover, #contact textarea:hover {
  transform: scale(1.04);
}

#contact textarea {
  min-height: 120px;
  resize: none;
}

#contact input:focus,
#contact textarea:focus {
  outline: none; 
  border: 1px solid #a855f7;
}

#contact button {
  padding: 14px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;

  background: #5c04a0;
  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: transform 0.2s ease;
  background: linear-gradient(
  90deg,
  #5c04a0 0%,
  #552384 30%,
  #6E51A5 70%,
  #a86ac3 96%
  );
}

#contact button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(168,106,195,0.35);
}

#contact button:active {
  opacity: 0.6;
}

.contact-container {
  width: 100%;
  max-width: 600px;
}

/* ======================== */
/* FOOTER */
/* ======================== */

footer {
  border-top: 1px solid rgba(168,106,195,0.2);
  padding: 25px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  border: 1px solid;
  border-color: #552384;
  color: #552384;
  transition: transform 0.3 ease;
  border-radius: 50%;
  font-size: 28px;
  background: transparent;
}

.footer-socials a:hover {
  color: white;
  background-color: #552384;
  transform: scale(1.1);
  box-shadow: 0 6px 18px rgba(85, 35, 132, 0.6);
}