/* ======================== */
/* NAVBAR */
/* ======================== */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;

  background: rgba(5, 5, 10, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px); 

  border-bottom: 1px solid rgba(96, 25, 127, 0.2);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 2px;
  transition: transform 0.3s ease;
}

.logo-container img {
  width: 70px;
  margin-bottom: 10px;
}

.logo-container:hover{
  transform: scale(1.1);
}

.logo {
  text-decoration: none;
  font-weight: 800;
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.logo span {
  background: linear-gradient(
  90deg,
  #5c04a0 0%,
  #552384 30%,
  #6E51A5 70%,
  #a86ac3 96%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 2000;
  color: white;
}

.menu-toggle:hover {
  color: #a86ac3;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-weight: 800;
  transition: all 0.3s ease;
}

.nav-links li {
  list-style: none;  
  margin: 0 15px;   
} 

.nav-links a {
  text-decoration: none;
  color: white;
  position: relative;

  transition: 0.3s;
  transition: transform 0.3s ease;
  display: inline-block;
}

.nav-links a:hover {
  color:#6E51A5;
  transition: 0.3s;
  transform: scale(1.1);
}

.contact-button {
  font-size: 18px;
  padding: 12px 25px;
  font-weight: 700;
  border-radius: 40px;
  border: none;
  background: linear-gradient(
  90deg,
  #5c04a0 0%,
  #552384 30%,
  #6E51A5 70%,
  #a86ac3 96%
  );
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
  text-wrap: nowrap;
}

.contact-button:hover {
  transform: scale(1.1);
}
