/* ======================== */
/* PROJECTS SECTION */
/* ======================== */

#projects {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#projects h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 30px;
}

#projects h1 span {
  background: linear-gradient(
  90deg,
  #5c04a0 0%,
  #552384 30%,
  #6E51A5 70%,
  #a86ac3 96%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.projects-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;
}

.projects-card {
  background: transparent;         
  border: 1px solid;
  border-color: #5c04a0;

  padding: 20px;
  border-radius: 12px;
  width: 360px;

  flex: 1 1 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: transform 0.3s, box-shadow 0.3s;
}

.projects-card:hover {
  transform: scale(1.1);
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(92, 4, 160, 0.45);
}

.card-image img {
  width: 100%;
  height: 180px;      /* define a proporção visual */
  overflow: hidden;
  border-radius: 10px;
}

.projects-card h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects-card a {
  margin-top: 27px;
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;

  padding: 8px 18px;
  border-radius: 6px;

  background: #5c04a0;

  transition: background 0.3s, transform 0.2s;
}

.projects-card a:hover {
  background: #6d28d9;
  transform: translateY(-2px);
}

.projects-card a:active {
  opacity: 0.6;
}