/* ======================== */
/* SKILLS SECTION */
/* ======================== */

#skills {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#skills h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 30px;
}

#skills h1 span {
  background: linear-gradient(
  90deg,
  #5c04a0 0%,
  #552384 30%,
  #6E51A5 70%,
  #a86ac3 96%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.skills-container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.skills-row {
  display: flex;
  align-items: center;
  gap: 45px;
}

.reverse .skills-row {
  flex-direction: row-reverse;
}

.skills-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.skills-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 320px;
  font-size: 18px;
  margin-bottom: 7px;

  position: relative;
  padding-left: 30px;
  gap: 20px
}

.skills-list li::before {
  content: "●";
  position: absolute;
  left: 0;

  font-size: 18px;
}

.reverse .skills-list li {
  padding-left: 0;
  padding-right: 30px;
  gap: 10px;
}

.reverse .skills-list li::before {
  left: auto;
  right: 0;
}

.stars {
  color: #a855f7;
  letter-spacing: 2px;
  font-size: 17px;
  transition: transform 0.25s ease;
  word-break: break-word;
}

.stars:hover {
  transform: scale(1.1);
}

.skills-logos img {
  width: 42px;
  transition: transform 0.25s ease; 
}

.skills-logos img:hover {
  transform: scale(1.1);
}

.skills-logos {
  display: grid; 
  gap: 18px;
}

.skills-logos {
  background: transparent;
  border: 1px solid rgba(168, 106, 195, 0.3);

  padding: 16px;
  border-radius: 10px;
  width: max-content;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.skills-logos:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(92, 4, 160, 0.45);
}

.backend {
  grid-template-columns: repeat(2, 1fr);
}
